<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Modals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="plagins-block">
    <ion-button size="full" color="success" (click)="openModalOne()">Modal 1</ion-button>
    <ion-button size="full" color="success" (click)="openModalTwo()">Modal 2</ion-button>
    <ion-button size="full" color="success" (click)="openModalTree()">Modal 3</ion-button>
  </div>
</ion-content>
