<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>

    <ion-title>Pickcup Call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://docs.microsoft.com/ru-ru/azure/azure-maps/media/migrate-google-maps-web-app/azure-maps-custom-html-marker.png" all="map">

  <ion-card>
    <ion-card-content>
      <p>Addres - Fake streat, 111</p>
      <p>City name - State</p>
      <p>Zip code - 1234567</p>
      <p>Number - 22</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button color="success" size="full" (click)="addPickcupCall()">Create Pickcup Call</ion-button>
</ion-content>
