<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="plagins-block">
    <ion-button size="full" color="success" (click)="openSimpleAlert()">Simple Alert</ion-button>
    <ion-button size="full" color="success" (click)="openAlertWithBtn()">Alert with Btn</ion-button>
    <ion-button size="full" color="success" (click)="openAlertWithInputs()">Alert with Inputs</ion-button>
  </div>
</ion-content>
