<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>

    <ion-title>My Pickcup Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickcup-call-card 
    status="hold"
    date="22/04/2021"
    time="16:34:22"
    createdAt="24/04/2021"
    notes="e have to bags that are full, one is plastic and the other one is glasses">
  </app-pickcup-call-card>

  <app-pickcup-call-card 
    status="processing"
    date="23/14/2021"
    time="16:04:00"
    createdAt="24/04/2021"
    notes="e have to bags that are full, one is plastic and the other one is glasses">
  </app-pickcup-call-card>

  <app-pickcup-call-card 
    status="finished"
    date="22/04/2021"
    time="16:34:22"
    createdAt="24/04/2021"
    cost="145,00">
  </app-pickcup-call-card>

  <app-pickcup-call-card 
    status="finished"
    date="22/04/2021"
    time="16:34:22"
    createdAt="24/04/2021"
    cost="23,00">
  </app-pickcup-call-card>
</ion-content>
